body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.6rem;
    margin: 0;
    background-color: #fafafa; /* put here so that the white will not camouflage with the background */
}

.bold{
    font-weight: bold;
}

.discoverimage{
    height: 20vh;
    width: 20vw;
    border-radius: 0.3rem;
    display: inline-block;
    margin: 0 1vw;
}

.eventImage{
    height: 15vh;
    width: 50vw;
    border-radius: 0.3rem;
}

.flex{
    display: flex;
    justify-content: center;
}

.flexleft{
    display: flex;
    justify-content: left;
    overflow-x: scroll;
}

.grid2{
    margin: 0 2vw;
}

h1,h2,h3{
    font-weight:600;
    font-size: 2em;
}

.right{
    float: right;
}

section{
    margin: 3vh 0.8rem;
}

.smallIcons{
    height: 2vh;
}