h1{
    font-size:3rem;
    font-weight: 900;
    text-align: center;
    margin: 5vh;
}

h2{
    font-size: 1.5rem;
    text-align: center;
}

header{
    margin: 3vh 0;
}

section{
    margin: 5vh 0;
}

button:hover{
    cursor: pointer;
}

body{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /* height: 100vh; */
    background:white !important;
    overflow-y: hidden;
}
footer{
    display:flex;
    justify-content: center;
}
.container{
    height:94%;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding:1em 2em;
    box-sizing: border-box;
}
main{
    display:flex;
    flex-direction: column;
    gap:0.75em;
}
.login_form{
    display:flex;
    flex-direction: column;
    gap:0.5em;
}

.login-button{
    font-size: 1rem;
    padding: 0 0.8rem;
    border: 1px solid #0B132B;
    border-radius: 0.5em;
    width:100%;
    box-sizing: border-box;
    padding:0.5em;
}

.forgot{
    text-decoration: none;
    color: #0B132B;
    text-align: right;
    margin-top:0.5em;
}

.login-button--submit{
    background:#FBBF3B;
    font-size: 1.3em;
    border-radius: 1.5em;
    border:0;
    margin-top:0.5em;
    padding:0.4em;
    height:fit-content;
}

.or-divider {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 0.5rem;
    gap:0.5em
}
.or-divider::before,
.or-divider::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #0B132B;
}
.or-divider:not(:empty)::before {
    margin-right: .25em;
}
.or-divider:not(:empty)::after {
    margin-left: .25em;
}

a.signup{
    color: #FBBF3B;
    text-decoration: none;
}

.social-login-buttons{
    display:grid;
    gap:0.5em;
    grid-template-columns: 1fr;
    margin-top:0.5em;
}

.social-login-buttons>button{
    height: 2rem;
    padding:0.5em 0;
    border:none;
    border-radius: 0.3rem;
}

.facebook{
    background:#1877F2;
}
.apple{
    background:#000000;
}

.google{
    background:white;
    border:1px solid #DADADA !important;
}

img{
    height: 100%;
    display: block;
    margin: auto;
}

.text--small{
    font-size: 0.8rem;
    position: relative;
}