body{
    font-size:calc(15px + 1.5vw);
    font-family: Arial, Helvetica, sans-serif;
}

.message_nav{
    display:flex;
    height:4em;
    padding:0.5em 1em;
    padding-bottom:0.8em;
    box-sizing: border-box  ;
    align-items: center;
    gap:1em;
    position:fixed;
    top:0;
    background:white;
}

h3{
    margin:0;
}

.message_nav .profile{
    border-radius: 50%;
    height:100%;
    border: 2px solid #FBBF3B;
}

.message_nav .back{
    height:50%
}

.message{
    max-width: 12.5em;
    border-radius: 3em;
    padding: 0.5em 1em;
    width:fit-content;
}

.other .message{
    background-color: #ECECEC;
    color:black;
}

.me .message {
    background-color: #FBBF3B;
    color:black;
}
.conversation{
    display:flex;
    flex-direction: column;
    gap:1em;
    height:65vh;
    padding-top:4em;
    overflow-y: auto;
    justify-content: flex-end;
}

.user{
    display:flex;
    gap:0.5em;
    flex-direction: column;
}

.me{
    align-self: flex-end;
}

.message_box{
    position:fixed;
    width:100%;
    height:4em;
    bottom:10vh;
    padding: 0.5em 1em;
    box-sizing: border-box;

}

.message_input{
    width:100%;
    height:100%;
    border-radius: 1em;
    padding: 0.5em 1em;
    padding-right:3em;

    box-sizing: border-box;
    border: 2px solid #D9D9D9;
    outline:none;
    font-size: 1em;
    box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.25);
}

.send{
    background: #FBBF3B;
    position:absolute;
    right:1.5em;
    height:2em;
    padding: 0.4em 0.4em;
    font-size: 1em;
    box-sizing: border-box;
    border-radius: 50%;
    top:50%;
    transform: translateY(-50%);
}