body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.6rem;
    margin: 0;
    background-color: #fafafa; /* put here so that the white will not camouflage with the background */
}

.messageOnTab{
    border-radius: 1rem;
    border: 1px solid #5BC0BE;
}

button:hover{
    cursor: pointer;
}

.eachPerson{
    border: 2px solid #5BC0BE;
    border-radius: 100%;
    height: 8vh !important;
    width: auto !important;
    margin: 0 0.2rem;
}

#goBack{
    text-decoration: none;
}

h1{
    display: inline-block;
    font-size: 2em;
}

h2{
    font-weight: 400;
}

#headerIcon{
    float: right;
    height: 1.5rem;
    margin: 0.8rem 0.5rem;
}

.mediumSize{
    font-size: 1.5rem;
}

.name, .event{
    font-weight: bold;
}

.notifAccept{
    grid-area: d;
    display: block;
    color: white;
    background-color: #5BC0BE;
    border: 0px solid black;
    border-radius: 1em;
    padding: 0.3rem 1rem;
}

.notifGridConnect{
    display: grid;
    grid-template-columns: 15% 65% 20%;
    grid-template-rows: 50% 50%;
    grid-template-areas:
    'a b d'
    'a c d';
    height: 8vh;
    width: 85vw;
    place-items: center left;
}

.notifGridOthers{
    display: grid;
    grid-template-columns: 15% 65% 20%;
    grid-template-rows: 100%;
    grid-template-areas: 'a b c';
    place-items: center left;
    height: 8vh;
}

.notifDescription{
    grid-area: b;
    font-size: 0.8rem;
}

.notifpfp{
    border-radius: 100%;
    height: auto;
    height: 6vh !important;
    width: auto !important;
    grid-area: a;
}

.notifTime{
    grid-area: c;
    color: grey;
}

#peopleActive{
    display: flex;
    justify-content: left;
    overflow-x: scroll;
}

.pfp2{
    transform: translate3d(3vw, 3vw);
    position: absolute;
}

section{
    margin: 3vh 0.8rem;
}