body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.6rem;
    margin: 0;
    background-color: #fafafa; /* put here so that the white will not camouflage with the background */
}

.box{
    background-color: white;
    border-radius: 5vw;
    box-shadow: 0 2vw 1vw lightgrey;
    padding: 1rem;
}

.bold{
    font-weight: bold;
}

#bottombar{
    position: fixed;
    bottom: 0;
    left: 0;
    height: 10vh;
    background-color: white;
    width: 100vw;
    margin: 0;
    padding: 0;
    border-top: 1px solid #DADADA;
}

button:hover{
    cursor: pointer;
}

/* centering of text */
.center{
    text-align: center;
}

.contactDetailsImages{
    width: 10vw;
    height: auto;
}

.background1{
    background-color: #5BC0BE;
}

.background2{
    background-color: #DA6666;
}

.background3{
    background-color: #7879F1;
}

.background4{
    background-color: #F178B6;
}

.flex{
    display: flex;
    justify-content: center;
}

#followicon{
    height: 0.7rem;
    width: auto;
    display: block;
    margin: auto;
    margin-top: 0.1rem;
}

#followicon:hover{
    cursor: pointer;
}

#followiconbackground{
    height: 1rem;
    width: 1.3rem;
    border-radius: 40%;
    background-color: #5BC0BE;
    margin-left: 1rem;
}

.grey{
    color: grey;
}

/* grid1 follows a [1 1] grid format, specific to the headers section*/
.grid1{
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: auto;
}

/* grid2 follows a one column grid format*/
.grid2{
    display: grid;
    grid-template-columns: auto;
}

/* grid3 follows a [1 1 1 1] grid format*/
.grid3{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
}

/* grid4 follows a one [1] [1] [1] [1] grid format */
.grid4{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 25% 25% 25% 25%;
    place-items: center;
}

/* grid4 follows a [1 1] [1 1] [1 1] grid format, specially applies to experience section*/
.grid5{
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template: 33.3% 33.3% 33.3%;
}

/* gridfollowers follows a [1 1 1] [1 1 1] grid format*/
.gridfollowers{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    font-size: 1rem;
}

/* gridicons is specialised to format the follow icon and message button and follows a [1 1] grid format */
.gridicons{
    display: grid;
    grid-template-columns: 14% 86%;
    grid-template-rows: auto;
    align-items: center;
}

h1,h2,h3{
    font-weight:600;
    font-size: 2em;
}

.highlightsImage{
    width: 95%;
    height: auto;
}

.icons{
    height: 6vh !important;
    width: auto !important;
}

.icons:hover{
    cursor: pointer;
}

.interestBlocks{
    height: 1rem;
    border-radius: 20vw;
    display: inline-block;
    font-size: 0.7rem;
    padding: 0 0.5rem;
    margin: 0.1rem 0;
}

.interestHeader{
    background-color: #D9D9D9;
}

#interestsTitle{
    font-size: 0.8rem;
}

/* to equalise the height of the follow icon and the message button */
#messagebutton{
    height: 1rem;
    width: 3rem;
    font-size: 0.5rem;
    border: 0px solid black;
    border-radius: 1rem;
    margin-left: 1rem;
}

/* default padding for grid5, 0.5rem vertical */
.paddingpls{
    padding: 0.5rem 0;
}

#personName{
    font-size: 1rem;
}

#personTag{
    font-size: 0.9rem
}

#pfp{
    width: 20vw;
    height: auto;
    border: 2px solid white;
    outline: 2px solid #5BC0BE;
    border-radius: 100%;
}

/* round will apply max border radius, aiming to achieve a round shape, it also follows a fixed dimension of 20vw height */
.round{
    border-radius: 100%;
    width: 15vw;
    height: auto;
}

section{
    margin: 3vh 0.8rem;
}

.size1{
    font-size: 1rem;
}

/* smalltext is used to adjust the font size of the following, followers text etc */
.smalltext{
    font-size: 0.5rem;
}

.square{
    border-radius: 0.5rem;
    padding: 0 0.3rem;
}

/* used for titles to add a little margin below */
.titles{
    margin-bottom: 0.3rem;
    font-size: 0.9rem;
}

.white{
    color: white;
}